.singlePost {
  flex: 8;
}
.singlePostWrapper {
  padding: 20px;
  padding-right: 0%;
}
.singlePost .singlePostWrapper .singlePostImg {
  width: 93%;
  height: 550px;
  border-radius: 3px;
  object-fit: cover;
}
.singlePostWrapper .singlePostTitle {
  text-align: center;
  margin: 10px;
  /* color: #052055; */
  font-size: 28px;
  font-family: "Lora", serif;
}
.singlePostTitle .netflix {
  color: #c20c0c;
}
.singlePostEdit {
  font-size: 20px;
  float: right;
  margin-top: 9px;
}
.singlePostIcon {
  margin-left: 15px;
  cursor: pointer;
}
.singlePostIcon:first-child {
  color: teal;
}
.singlePostIcon:last-child {
  color: tomato;
}
.singlePostInfo {
  margin-bottom: 20px;
  color: #055052;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Varela Round", sans-serif;
}
.singlePostDecs {
  color: #666;
  font-size: 18px;
  line-height: 28px;
  font-family: "Lora", serif;
  width: 90%;
}
.singlePostDecs:first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 820px) {
  .singlePost .singlePostWrapper .singlePostImg {
    width: 100%;
    height: auto;
    border-radius: 3px;
    object-fit: fill;
  }
  .singlePostWrapper {
    padding: 0px;
    padding-right: 0%;
  }
  .singlePostInfo {
    margin: 10px;
    color: #055052;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Varela Round", sans-serif;
  }
  .singlePostDecs {
    color: #666;
    font-size: 18px;
    line-height: 28px;
    font-family: "Lora", serif;
    margin: 0 11px;
  }
}
@media (max-width: 500px) {
  .singlePost .singlePostWrapper .singlePostImg {
    width: 100%;
    height: auto;
    border-radius: 3px;
    object-fit: fill;
  }
}
