@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");

.sidebar {
  flex: 2;
  margin: 20px 0;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #222;
  line-height: 20px;
  text-align: center;
}
.sidebarItem > img {
  margin-top: 10px;
}
.sidebarItem > p {
  padding: 30px;
  letter-spacing: 1.5px;
}
.sidebarList {
  list-style: none;
  margin-bottom: 30px;
  margin-left: 64px;
}
.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarImg {
  width: 300px;
  height: 300px;
}
.introduction {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}
.sidebarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarIcon {
  color: #052055;
  font-size: 20px;
  margin-left: 16px;
  cursor: pointer;
}
