.setting {
  display: flex;
  padding: 20px 0;
}
.settingWrapper {
  flex: 9;
  padding: 20px 10px;
}
.settingTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settingUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}
.settingDeleteTitle {
  color: red;
  font-size: 14px;
  cursor: pointer;
}
.settingForm {
  display: flex;
  flex-direction: column;
}

.settingPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingPP > img {
  height: 70px;
  width: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.settingPpIcon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin-left: 15px;
  cursor: pointer;
}
.settingForm > label {
  font-size: 20px;
  margin-top: 20px;
}
.settingForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  border-bottom: 1px solid #333;
}
.settingSubmit {
  width: 160px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: yellowgreen;
  margin-top: 20px;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
}
@media (max-width: 820px) {
  .setting {
    display: flex;
    flex-direction: column;
    padding: 50px 0 20px 0;
  }
  .settingWrapper {
    flex: 12;
    padding: 20px 20px;
  }
}
@media (max-width: 820px) {
  .setting {
    display: flex;
    flex-direction: column;
    padding: 60px 0 20px 0;
  }
}
