.post {
  width: 400px;
  margin: 0px 25px 40px 25px;
}
.postimg {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}
.postInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.postcat {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  color: #c21212;
  line-height: 20px;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}
.postTitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  margin-top: 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center !important;
}
.postDate {
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: bold !important;
  font-size: 13px;
  color: rgb(126, 120, 120);
  margin-top: 15px;
}
.postDecs {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #444;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
