.brand-name {
  font-weight: 800;
  font-family: "Redressed", cursive;
}

/* smallnav css  */
.smallnav-wrapper {
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.smallnav-wrapper > p {
  font-size: 15px;
  font-weight: 500;
  font-family: "jost", sans-serif;
  letter-spacing: 0;
}
/* small nav css end  */

/* media query */

@media (max-width: 820px) {
  .dropdown-menu-end[data-mdb-popper] {
    right: 0;
    left: 0;
  }
}
